<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=DESKTOP-DM7LEO8\SQLEXPRESS;Initial Catalog=sqlbase;Integrated Security=SSPI; User=DESKTOP-DM7LEO8\\user1;Password=user1;"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>